@font-face {
    font-family: 'LOF Magarikado Gothic';
    src: url("../../../fonts/MagarikadoGothic-Regular.otf");
}

@font-face {
    font-family: '07LogoTypeGothic7';
    src: url("../../../fonts/LogoTypeGothic.otf");
}

VBox {
    -fx-background-color: #13334c;
}

.label {
    -fx-text-fill: #f6f6e9;
    -fx-font-family: "LOF Magarikado Gothic";
}

.button {
    /*-my-orange: "#fd5f00";*/
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
    -fx-border-color: #fd5f00;
    -fx-background-color: transparent;
    -fx-background-radius: 8, 7, 6;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: #fd5f00;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:pressed:hover {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.button:hover {
    /*-fx-background-color: #383838;*/
    -fx-background-color: #005792;
    -fx-border-color: #f6f6e9;
    -fx-scale-x: 0.85;
    -fx-scale-y: 0.85;
    -fx-text-fill: #f6f6e9;
}